<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<category label="30000">
	    <setting label="30016" type="lsep" />
		<setting id="autoconfig" type="bool" label="30001" default="true"/>
		<setting id="auto_ip" type="bool" label="30003" default="true"/>
		<setting id="wait_time" type="number" label="30005" default="1000"/>
	</category>
	<category label="Sopcast">
		<setting label="30017" type="lsep" />
		<setting id="localhost" type="ipaddress" label="30004" default="127.0.0.1"/>
		<setting id="local_port" type="number" label="30006" default="9000"/>
		<setting id="video_port" type="number" label="30007" default="9001"/>
		<setting id="buffer_size" type="number" label="30008" default="8192"/>
		<setting id="sop_debug_mode" type="bool" label="30009" default="false"/>
	</category>
	<category label="Acestreams">
		<setting label="30018" type="lsep" />
		<setting id="ip_addr" type="text" label="30004" default="127.0.0.1" />
		<setting id="pausable" type="bool" label="30010" default="false" />
		<setting id="prog" type="text" label="30011" default="" />
		<setting id="save" type="bool" label="30012" default="false" />
		<setting id="folder" type="folder" label="30013"/>
		<setting id="autobuf" type="bool" label="30014" default="false" />
		<setting id="shutdown-engine" type="bool" label="30015" default="true"/>
	</category>

</settings>
